
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav>
      <div class="nav-container">
         <img src="{% static 'image/logo.jpg' %}" alt="logo" class="logo w-50">
           <div class="btn">
                 <div class="line1"></div>
                 <div class="line2"></div>
                 <div class="line3"></div>
           </div>
      </div>
         <!--For links-->
         <ul class="nav-links" style="background-color : #4E004E;">
             <li><a href="#home">Home</a></li>
             <li><a href="#about">About</a></li>
             <li><a href="#workout">The Gym</a></li>
             <li><a href="#testimonial">Feedback</a></li>
             <li><a href="">Contact</a></li>
             <li><a href="">admin Login</a></li>
         </ul>
         <!---End of links-->
     </nav>
    <!---Jquery-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!---Script js-->
     <script src="{ % static 'js/script.js' %}"></script>

     {% block content %}


        {% endblock %}

</body>
</html>