{% extends 'user/userbase.html' %}


{% block content %}
<div class="row justify-content-center mt-5">
    {% for message in messages%}
            <div class="alert alert-muted text-danger text-center"><small>{{message}}</small></div>
        {% endfor %}
    <div class="col-md-4">
        <div class="card ed-card shadow">
            <div class="card-header">
                <div class="card-title">
                    <h5 class="text-center ed-head">...My Plan...</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="card-text ml-5"><b>Plan Name</b></p>
                        <p class="card-text ml-5"><b>Amount</b></p>
                        <p class="card-text ml-5"><b>Duration</b></p>
                    </div>
                    <div class="col-6">
                        <p class="card-text">{{ p.plan.name}}</p>
                        <p class="card-text">{{ p.plan.amount}}</p>
                        <p class="card-text">{{ p.plan.duration}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}